<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>yoctovisualization</string>
	<key>CFBundleIdentifier</key>
	<string>com.yoctopuce.yoctovisualization</string>
	<key>CFBundleVersion</key>
	<string>2.0.37796</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.37796</string>
	<key>CFBundleGetInfoString</key>
	<string>Yocto-Visualization</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2018 Yoctopuce Sarl</string>
	<key>CFBundleExecutable</key>
	<string>YoctoVisualization.sh</string>
	<key>CFBundleIconFile</key>
	<string>YoctoVisualization.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
