<configuration>
<dllmap dll="yapi.dll" os="linux" cpu="x86" target="libyapi-i386.so"/>
<dllmap dll="amd64\yapi.dll" os="linux" target="libyapi-amd64.so"/> 
<dllmap dll="yapi.dll" os="osx" target="libyapi.dylib"/>
<dllmap dll="yapi.dll" os="linux"  cpu="arm" target="libyapi-armhf.so"/>

</configuration>