Package: yoctovisualization
Version: 34302
Sections: electronics
Priority: optional
Architecture: all
Maintainer: Yoctopuce <dev@yoctopuce.com>
Homepage:http://www.yoctopuce.com
Installed-Size: 4000
Section: electronics
Description: Yocto-Visualization utility.
 The Yocto-Visualization is a utility that allow one to easily
 view the values measured by Yoctopuce sensors. It can display
 graphics, indicators and other gadgets in a few clicks.
